.form {
  padding: 1rem;
}

.formControll{
  width: 100%;
  margin: 10px 0px;
}

.formControll label{
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0px;
}

.formControll input{
  width: 100%;
  border: 1px solid #e2e2e2;
  padding: 10px 15px;
  border-radius: 5px;
}
.formControll textarea{
  width: 100%;
  border: 1px solid #e2e2e2;
  padding: 10px 15px;
  border-radius: 5px;
  resize: none;
}

.actions{
  margin: 20px 0px;
}
.actions button{
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  color: #e2e2e2;
  background-color: #1328a1;
  border: 1px solid #1328a1;
  border-radius: 5px;
  margin-left: auto;
  display: block;
  cursor: pointer;
  transition: .3s;
}
.actions button:hover{
  background-color: #324ff1;
  border: 1px solid #324ff1;
  
}